

.formField {
  color: #85b2ce;
  padding-bottom: 10px;


}
.inputField {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #d57c3d;
  border-radius: 5px;
  padding: 10px;
  color: #85b2ce;
  outline: none;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-family: ubuntu;
  
}
.messageField{
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #d57c3d;
  border-radius: 5px;
  padding: 10px;
  color: #85b2ce;
  outline: none;
  letter-spacing: 0.2rem;
  font-weight: bold;
  font-family: ubuntu;
  height: 5rem;
}
.btn1{
    width: max-content;
    margin-top: 2rem;
    padding: 1rem 1rem;
    background-color: transparent;
    border: 1px solid #ff8427;
    border-radius: 90%;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow:0 0 7px #ff8427;

    &:hover{
      
      box-shadow:0 0 20px #2793ff;
      border: transparent;
    }
}
.labelFields {
  display: flex;

}
