

::-webkit-scrollbar {
  display: none;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #040c1e;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    'Ubuntu', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


